<h1 class="title has-text-centered">Rooms Settings</h1>
<div class="section">
  <form (ngSubmit)="onAdd()" [formGroup]="roomForm">
    <div class="field">
      <label class="label"> Name:
        <input class="input is-info" formControlName="name" placeholder="Enter room name" required type="text">
      </label>

      <label class="label"> Code:
        <input class="input is-info" formControlName="code" placeholder="Enter room code" required type="text">
      </label>

      <label class="label"> Size:
        <input class="input is-info" formControlName="size" placeholder="Enter room size" type="number">
      </label>

      <label class="label"> Is Laboratory ?:
        <input formControlName="isLab" type="checkbox">
      </label>

      <button [disabled]="!roomForm.valid" class="button is-link" type="submit">Add</button>
    </div>
  </form>
</div>

<div class="content has-text-centered">
  <h3 class="title">List of rooms</h3>
  <table class="table is-bordered is-hoverable has-text-centered">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Code</th>
      <th>Size</th>
      <th>Is Laboratory?</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let room of listOfRooms; let i=index">
      <th>{{i + 1}}</th>
      <td>{{room.name}}</td>
      <td>{{room.code}}</td>
      <td>{{room.size}}</td>
      <td><label class="checkbox">{{room.isLab}}
        <!--                <input [(ngModel)]="room.isLab" type="checkbox">-->
      </label></td>
      <td>
        <button (click)="remove(room.id)" class="button is-primary">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
