<h1 class="title has-text-centered">Teachers Settings</h1>

<div class="section">
  <form (ngSubmit)="onAdd()" [formGroup]="teacherForm">
    <div class="field">
      <label class="label"> Name:
        <input class="input is-info" formControlName="name" placeholder="Enter teacher name" required type="text">
      </label>

      <label class="label"> Surname:
        <input class="input is-info" formControlName="surName" placeholder="Enter teacher surname" type="text">
      </label>

      <label class="label"> Short Name:
        <input class="input is-info" formControlName="shortName" placeholder="Enter teacher short name" type="text">
      </label>

      <button [disabled]="!teacherForm.valid" class="button is-link" type="submit">Add</button>
    </div>

  </form>
</div>

<div class="content has-text-centered">
  <h3 class="title">List of teachers</h3>
  <table class="table is-bordered is-hoverable has-text-centered">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Surname</th>
      <th>Short Name</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let teacher of listOfTeachers; let i=index">
      <th>{{i + 1}}</th>
      <td>{{teacher.name}}</td>
      <td>{{teacher.surName}}</td>
      <td>{{teacher.shortName}}</td>
      <td>
        <button (click)="remove(teacher.id)" class="button is-primary">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
