<div class="">
  <form (ngSubmit)="onShow()" [formGroup]="scheduleForm">
    <div class="field">
      <label class="label">Select Schedule:&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="select is-info">
          <select class="form-control" formControlName="selectedSchedule">
            <option *ngFor="let schedule of listOfSchedules"
                    [ngValue]="schedule">{{schedule.name}}</option>
          </select>
        </div>
      </label>

      <button class="button is-link" type="submit">Show Schedule</button>
    </div>
  </form>
</div>

<hr>
<div *ngIf="generateNewScheduleClicked">
  {{'Maximum Fitness Value: ' + bestSchedule.fitness}} <br/>
  <!--{{'Total available space in schedule: ' + (numberOfDays * numberOfHours * numberOfRooms)}} <br/>-->
  {{'Number of lessons: ' + numberOfLessons}} <br/>
  {{'Total number of lessons: ' + totalLessons}} <br/>
  {{'Number of Conflicts in Schedule: ' + conflicts.total}} <br/>
</div>

<hr>

<div class="tabs is-centered is-boxed">
  <ul>
    <li [class.is-active]="showGroupSchedule">
      <a (click)="toggleEditor('group')">
        <span class="icon is-small"><i class="fas fa-users"></i></span>
        <span>Groups Schedule</span>
      </a>
    </li>
    <li [class.is-active]="showTeacherSchedule">
      <a (click)="toggleEditor('teacher')">
        <span class="icon is-small"><i class="fas fa-chalkboard-teacher"></i></span>
        <span>Teachers Schedule</span>
      </a>
    </li>
    <li [class.is-active]="showRoomSchedule">
      <a (click)="toggleEditor('room')">
        <span class="icon is-small"><i class="fas fa-map-marker-alt"></i></span>
        <span>Rooms Schedule</span>
      </a>
    </li>
  </ul>
</div>

<div *ngIf="showGroupSchedule && generateNewScheduleClicked">
  <h1 class="subtitle has-text-centered">Timetable By Groups:</h1>
  <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th>Days</th>
      <th>Groups</th>
      <th class="has-text-centered">1. HOUR <br> 08:30-09:10</th>
      <th class="has-text-centered">2. HOUR <br> 09:20-10:00</th>
      <th class="has-text-centered">3. HOUR <br> 10:10-10:50</th>
      <th class="has-text-centered">4. HOUR <br> 11:00-11:40</th>
      <th class="has-text-centered">5. HOUR <br> 11:50-12:30</th>
      <th class="has-text-centered">6. HOUR <br> 13:20-14:00</th>
      <th class="has-text-centered">7. HOUR <br> 14:10-14:50</th>
      <th class="has-text-centered">8. HOUR <br> 15:00-15:40</th>
      <th class="has-text-centered">9. HOUR <br> 15:50-16:30</th>

    </tr>
    </thead>

    <tbody *ngFor="let day of days; let d = index">
    <!--    <span >-->
    <td [rowSpan]="(numberOfGroups+1)">
      <div class="vertical-text"> {{day}} </div>
    </td>

    <tr *ngFor="let group of listOfGroups; let i = index">
      <th>{{group.name}}</th>
      <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">
        {{scheduleByGroups.lessons[j + (i * numberOfHours) + numberOfHours * numberOfGroups * d] ?
        scheduleByGroups.lessons[j + (i * numberOfHours) + numberOfHours * numberOfGroups * d].shortName : '∅'}} <br/>

        {{scheduleByGroups.lessons[j + (i * numberOfHours) + numberOfHours * numberOfGroups * d] ?
        scheduleByGroups.lessons[j + (i * numberOfHours) + numberOfHours * numberOfGroups * d].group[0].name : '∅'}} {{'/'}}

        {{scheduleByGroups.lessons[j + (i * numberOfHours) + numberOfHours * numberOfGroups * d] ?
        scheduleByGroups.lessons[j + (i * numberOfHours) + numberOfHours * numberOfGroups * d].teacher[0].shortName : '∅'}} {{'/'}}

        {{scheduleByGroups.lessons[j + (i * numberOfHours) + numberOfHours * numberOfGroups * d] ?
        scheduleByGroups.lessons[j + (i * numberOfHours) + numberOfHours * numberOfGroups * d].roomNum.code : '∅'}}
      </td>

    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="showTeacherSchedule && generateNewScheduleClicked">
  <h1 class="subtitle has-text-centered">Timetable By Teachers:</h1>
  <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th>Days</th>
      <th>Teachers</th>
      <th class="has-text-centered">1. HOUR <br> 08:30-09:10</th>
      <th class="has-text-centered">2. HOUR <br> 09:20-10:00</th>
      <th class="has-text-centered">3. HOUR <br> 10:10-10:50</th>
      <th class="has-text-centered">4. HOUR <br> 11:00-11:40</th>
      <th class="has-text-centered">5. HOUR <br> 11:50-12:30</th>
      <th class="has-text-centered">6. HOUR <br> 13:20-14:00</th>
      <th class="has-text-centered">7. HOUR <br> 14:10-14:50</th>
      <th class="has-text-centered">8. HOUR <br> 15:00-15:40</th>
      <th class="has-text-centered">9. HOUR <br> 15:50-16:30</th>

    </tr>
    </thead>

    <tbody *ngFor="let day of days; let d = index">
    <td [rowSpan]="(numberOfTeachers+1)">
      <div class="vertical-text"> {{day}}</div>
    </td>
    <tr *ngFor="let teacher of listOfTeachers; let i = index">
      <th>{{teacher.name + ' ' + teacher.surName}}</th>
      <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">
        {{scheduleByTeachers.lessons[j + (i * numberOfHours) + numberOfHours * numberOfTeachers * d] ?
        scheduleByTeachers.lessons[j + (i * numberOfHours) + numberOfHours * numberOfTeachers * d].shortName : '∅'}}<br/>

        {{scheduleByTeachers.lessons[j + (i * numberOfHours) + numberOfHours * numberOfTeachers * d] ?
        scheduleByTeachers.lessons[j + (i * numberOfHours) + numberOfHours * numberOfTeachers * d].group[0].name : '∅'}} {{'/'}}

        {{scheduleByTeachers.lessons[j + (i * numberOfHours) + numberOfHours * numberOfTeachers * d] ?
        scheduleByTeachers.lessons[j + (i * numberOfHours) + numberOfHours * numberOfTeachers * d].teacher[0].shortName : '∅'}} {{'/'}}

        {{scheduleByTeachers.lessons[j + (i * numberOfHours) + numberOfHours * numberOfTeachers * d] ?
        scheduleByTeachers.lessons[j + (i * numberOfHours) + numberOfHours * numberOfTeachers * d].roomNum.code : '∅'}}
      </td>
    </tr>

    </tbody>
  </table>
</div>

<div *ngIf="showRoomSchedule && generateNewScheduleClicked">
  <h1 class="subtitle has-text-centered">Timetable By Rooms:</h1>
  <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
    <thead>
    <tr>
      <th>Days</th>
      <th>Rooms</th>
      <th class="has-text-centered">1. HOUR <br> 08:30-09:10</th>
      <th class="has-text-centered">2. HOUR <br> 09:20-10:00</th>
      <th class="has-text-centered">3. HOUR <br> 10:10-10:50</th>
      <th class="has-text-centered">4. HOUR <br> 11:00-11:40</th>
      <th class="has-text-centered">5. HOUR <br> 11:50-12:30</th>
      <th class="has-text-centered">6. HOUR <br> 13:20-14:00</th>
      <th class="has-text-centered">7. HOUR <br> 14:10-14:50</th>
      <th class="has-text-centered">8. HOUR <br> 15:00-15:40</th>
      <th class="has-text-centered">9. HOUR <br> 15:50-16:30</th>

    </tr>
    </thead>

    <tbody *ngFor="let day of days; let d = index">
    <td [rowSpan]="numberOfRooms+1">
      <div class="vertical-text"> {{day}}</div>
    </td>
    <tr *ngFor="let room of listOfRooms; let i = index">
      <th>{{room.code}}</th>
      <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">
        {{bestSchedule.lessons[j + (i * numberOfHours) + numberOfHours * numberOfRooms * d] ?
        bestSchedule.lessons[j + (i * numberOfHours) + numberOfHours * numberOfRooms * d].shortName : '∅'}}<br/>

        {{bestSchedule.lessons[j + (i * numberOfHours) + numberOfHours * numberOfRooms * d] ?
        bestSchedule.lessons[j + (i * numberOfHours) + numberOfHours * numberOfRooms * d].group[0].name : '∅'}} {{'/'}}

        {{bestSchedule.lessons[j + (i * numberOfHours) + numberOfHours * numberOfRooms * d] ?
        bestSchedule.lessons[j + (i * numberOfHours) + numberOfHours * numberOfRooms * d].teacher[0].shortName : '∅'}}
        <!--      {{bestSchedule.lessons[j + (i*8)] ? bestSchedule.lessons[j + (i*8)].room.room.name : '∅'}}-->
      </td>
    </tr>
    </tbody>
  </table>

</div>

