<h1 class="title has-text-centered">Groups Settings</h1>
<div class="section">
  <form (ngSubmit)="onAdd()" [formGroup]="groupForm">
    <div class="field">
      <label class="label"> Name:
        <input class="input is-info" formControlName="name" placeholder="Enter group name" required type="text">
      </label>

      <label class="label"> Size:
        <input class="input is-info" formControlName="size" placeholder="Enter group size" type="number">
      </label>

      <button [disabled]="!groupForm.valid" class="button is-link" type="submit">Add</button>
    </div>
  </form>
</div>

<div class="content has-text-centered">
  <h3 class="title">List of groups</h3>
  <table class="table is-bordered is-hoverable has-text-centered">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Size</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let group of listOfGroups; let i=index">
      <th>{{i + 1}}</th>
      <td>{{group.name}}</td>
      <td>{{group.size}}</td>
      <td>
        <button (click)="remove(group.id)" class="button is-primary">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
