<h1 class="title has-text-centered">Lessons Settings</h1>
<div class="section">

  <form (ngSubmit)="onAdd()" [formGroup]="lessonForm">
    <div class="field">
      <label class="label"> Name:
        <input class="input is-info" formControlName="name" placeholder="Enter subject name" required type="text">
      </label>

      <label class="label"> Short Name:
        <input class="input is-info" formControlName="shortName" placeholder="Enter subject code" required type="text">
      </label>

      <label class="label"> Duration:
        <input class="input is-info" formControlName="duration" placeholder="Enter room size" type="number">
      </label>

      <label class="label"> Type:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="select is-info">
          <select formControlName="type">
            <option value="Single">Single</option>
            <option value="Double">Double</option>
            <option value="Triple">Triple</option>
          </select>
        </div>
      </label>

      <label class="label">Group:&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="select is-info">
          <select class="form-control" formControlName="group">
            <option *ngFor="let group of listOfGroups"
                    [ngValue]="group">{{group.name}}</option>
          </select>
        </div>
      </label>

      <label class="label">Teacher:
        <div class="select is-info">
          <select class="form-control" formControlName="teacher">
            <option *ngFor="let teacher of listOfTeachers"
                    [ngValue]="teacher">{{teacher.name + ' ' + teacher.surName}}</option>
          </select>
        </div>
      </label>

      <label class="label">Lab Required?:
        <input formControlName="isLabRequired" type="checkbox">
      </label>

      <button [disabled]="!lessonForm.valid" class="button is-link" type="submit">Add</button>
    </div>

  </form>
</div>

<div class="content has-text-centered">
  <h3 class="title">List of Lessons</h3>
  <table class="table is-bordered is-hoverable has-text-centered">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Short Name</th>
      <th>Duration</th>
      <th>Type</th>
      <th>Teacher</th>
      <th>Group</th>
      <th>Lab Required?</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let lesson of listOfLessons; let i=index">
      <th>{{i + 1}}</th>
      <td>{{lesson.name}}</td>
      <td>{{lesson.shortName}}</td>
      <td>{{lesson.duration}}</td>
      <td>{{lesson.type}}</td>
      <td>{{lesson.teacher[0].name + ' ' + lesson.teacher[0].surName}}</td>
      <td>{{lesson.group[0].name}}</td>
      <td><label class="checkbox">{{lesson.isLabRequired}}
        <!--                <input [(ngModel)]="room.isLab" type="checkbox">-->
      </label></td>
      <td>
        <button (click)="remove(lesson.id)" class="button is-primary">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>

</div>
