.table {

  td .vertical-text {
    color: red;
    font-size: medium;
    vertical-align: center;
    -ms-transform: rotate(315deg); /* IE 9 */
    -webkit-transform: rotate(315deg); /* Safari 3-8 */
    transform: rotate(315deg);
  }

  td {
    align-items: center;
    vertical-align: center;
    font-size: small;
  }

  th {
    font-size: small;
  }
}
