<div class="columns">
  <div class="column is-one-fifth">
    <aside class="menu">
      <p class="menu-label">
        Administration
      </p>
      <ul class="menu-list">
        <li>
          <a (click)="toggleEditor('group')" [class.is-active]="showGroupEditor">
            <span class="icon"><i class="fas fa-users"></i></span>
            Groups
          </a>
        </li>
        <li>
          <a (click)="toggleEditor('teacher')" [class.is-active]="showTeacherEditor">
            <span class="icon"><i class="fas fa-chalkboard-teacher"></i></span>
            <span>Teachers</span>
          </a>
        </li>
        <li>
          <a (click)="toggleEditor('room')" [class.is-active]="showRoomEditor">
            <span class="icon"><i class="fas fa-map-marker-alt"></i></span>
            <span>Rooms</span>
          </a>
        </li>
        <li>
          <a (click)="toggleEditor('lesson')" [class.is-active]="showLessonEditor">
            <span class="icon"><i aria-hidden="true" class="far fa-file-alt"></i></span>
            <span>Lessons</span>
          </a>
        </li>
        <li>
          <a (click)="toggleEditor('showSchedule')" [class.is-active]="showScheduleEditor">
            <span class="icon"><i aria-hidden="true" class="far fa-calendar-alt"></i></span>
            <span>Schedule</span>
          </a>
        </li>
        <li>
          <a (click)="toggleEditor('listScheduleEditor')" [class.is-active]="listScheduleEditor">
            <span class="icon"><i aria-hidden="true" class="fas fa-list-ul"></i></span>
            <span>List of Schedules</span>
          </a>
        </li>
      </ul>
    </aside>

  </div>

  <div class="column">

    <h1 class="title has-text-centered">Automatic Schedule Generator</h1>


    <app-groups *ngIf="showGroupEditor"></app-groups>
    <app-teachers *ngIf="showTeacherEditor"></app-teachers>
    <app-rooms *ngIf="showRoomEditor"></app-rooms>
    <app-lessons *ngIf="showLessonEditor"></app-lessons>
    <app-show-schedule *ngIf="showScheduleEditor"></app-show-schedule>
    <app-list-schedule *ngIf="listScheduleEditor"></app-list-schedule>


<!--    <hr>-->
<!--    {{'Maximum Fitness Value: ' + bestSchedule.fitness}} <br/>-->
<!--    {{'Total available space in schedule: ' + info.space}} <br/>-->
<!--    {{'Total number of lessons: ' + info.lessons}} <br/>-->
<!--    {{'Number of Conflicts in Schedule: ' + conflicts.total}} <br/>-->
<!--    {{'Number of lessons not located in Schedule: ' + conflicts.notLocated}}-->
<!--    <hr>-->

<!--    <hr>-->
<!--    <h1 class="subtitle has-text-centered">Timetable By Rooms:</h1>-->
<!--    <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Days</th>-->
<!--        <th>Rooms</th>-->
<!--        <th class="has-text-centered">1. HOUR <br> 08:30-09:10</th>-->
<!--        <th class="has-text-centered">2. HOUR <br> 09:20-10:00</th>-->
<!--        <th class="has-text-centered">3. HOUR <br> 10:10-10:50</th>-->
<!--        <th class="has-text-centered">4. HOUR <br> 11:00-11:40</th>-->
<!--        <th class="has-text-centered">5. HOUR <br> 11:50-12:30</th>-->
<!--        <th class="has-text-centered">6. HOUR <br> 13:20-14:00</th>-->
<!--        <th class="has-text-centered">7. HOUR <br> 14:10-14:50</th>-->
<!--        <th class="has-text-centered">8. HOUR <br> 15:00-15:40</th>-->

<!--      </tr>-->
<!--      </thead>-->

<!--      <tbody>-->
<!--      <td [rowSpan]="5">-->
<!--        <div class="vertical-text"> Monday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfRooms; let i = index">-->
<!--        <th>{{'Room' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{bestSchedule.lessons[j + (i * 8)] ? bestSchedule.lessons[j + (i * 8)].name : '∅'}} <br/>-->
<!--          {{bestSchedule.lessons[j + (i * 8)] ? bestSchedule.lessons[j + (i * 8)].group.group.name : '∅'}} {{'/'}}-->
<!--          {{bestSchedule.lessons[j + (i * 8)] ? bestSchedule.lessons[j + (i * 8)].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{bestSchedule.lessons[j + (i*8)] ? bestSchedule.lessons[j + (i*8)].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="5">-->
<!--        <div class="vertical-text"> Tuesday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfRooms; let i = index">-->
<!--        <th>{{'Room' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4] ? bestSchedule.lessons[j + (i * 8) + 8 * 4].name : '∅'}} <br/>-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4] ? bestSchedule.lessons[j + (i * 8) + 8 * 4].group.group.name : '∅'}} {{'/'}}-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4] ? bestSchedule.lessons[j + (i * 8) + 8 * 4].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{bestSchedule.lessons[j + (i*8) + 8*4] ? bestSchedule.lessons[j + (i*8) + 8*4].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="5">-->
<!--        <div class="vertical-text"> Wednesday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfRooms; let i = index">-->
<!--        <th>{{'Room' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4 * 2] ? bestSchedule.lessons[j + (i * 8) + 8 * 4 * 2].name : '∅'}}-->
<!--          <br/>-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4 * 2] ? bestSchedule.lessons[j + (i * 8) + 8 * 4 * 2].group.group.name : '∅'}} {{'/'}}-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4 * 2] ? bestSchedule.lessons[j + (i * 8) + 8 * 4 * 2].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{bestSchedule.lessons[j + (i*8) + 8*4*2] ? bestSchedule.lessons[j + (i*8) + 8*4*2].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="5">-->
<!--        <div class="vertical-text"> Thursday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfRooms; let i = index">-->
<!--        <th>{{'Room' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4 * 3] ? bestSchedule.lessons[j + (i * 8) + 8 * 4 * 3].name : '∅'}}-->
<!--          <br/>-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4 * 3] ? bestSchedule.lessons[j + (i * 8) + 8 * 4 * 3].group.group.name : '∅'}} {{'/'}}-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4 * 3] ? bestSchedule.lessons[j + (i * 8) + 8 * 4 * 3].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{bestSchedule.lessons[j + (i*8) + 8*4*3] ? bestSchedule.lessons[j + (i*8) + 8*4*3].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="5">-->
<!--        <div class="vertical-text"> Friday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfRooms; let i = index">-->
<!--        <th>{{'Room' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4 * 4] ? bestSchedule.lessons[j + (i * 8) + 8 * 4 * 4].name : '∅'}}-->
<!--          <br/>-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4 * 4] ? bestSchedule.lessons[j + (i * 8) + 8 * 4 * 4].group.group.name : '∅'}} {{'/'}}-->
<!--          {{bestSchedule.lessons[j + (i * 8) + 8 * 4 * 4] ? bestSchedule.lessons[j + (i * 8) + 8 * 4 * 4].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{bestSchedule.lessons[j + (i*8) + 8*4*4] ? bestSchedule.lessons[j + (i*8) + 8*4*4].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->


<!--      </tbody>-->
<!--    </table>-->


<!--    <hr>-->
<!--    <h1 class="subtitle has-text-centered">Timetable By Groups:</h1>-->
<!--    <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Days</th>-->
<!--        <th>Groups</th>-->
<!--        <th class="has-text-centered">1. HOUR <br> 08:30-09:10</th>-->
<!--        <th class="has-text-centered">2. HOUR <br> 09:20-10:00</th>-->
<!--        <th class="has-text-centered">3. HOUR <br> 10:10-10:50</th>-->
<!--        <th class="has-text-centered">4. HOUR <br> 11:00-11:40</th>-->
<!--        <th class="has-text-centered">5. HOUR <br> 11:50-12:30</th>-->
<!--        <th class="has-text-centered">6. HOUR <br> 13:20-14:00</th>-->
<!--        <th class="has-text-centered">7. HOUR <br> 14:10-14:50</th>-->
<!--        <th class="has-text-centered">8. HOUR <br> 15:00-15:40</th>-->

<!--      </tr>-->
<!--      </thead>-->

<!--      <tbody>-->
<!--      <td [rowSpan]="6">-->
<!--        <div class="vertical-text"> Monday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfGroups; let i = index">-->
<!--        <th>{{'Group' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{scheduleByGroups.lessons[j + (i * 8)] ? scheduleByGroups.lessons[j + (i * 8)].name : '∅'}} <br/>-->
<!--          {{scheduleByGroups.lessons[j + (i * 8)] ? scheduleByGroups.lessons[j + (i * 8)].group.group.name : '∅'}} {{'/'}}-->
<!--          {{scheduleByGroups.lessons[j + (i * 8)] ? scheduleByGroups.lessons[j + (i * 8)].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{scheduleByGroups.lessons[j + (i*8)] ? scheduleByGroups.lessons[j + (i*8)].roomNum : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="6">-->
<!--        <div class="vertical-text"> Tuesday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfGroups; let i = index">-->
<!--        <th>{{'Group' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5].name : '∅'}}-->
<!--          <br/>-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5].group.group.name : '∅'}} {{'/'}}-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{scheduleByGroups.lessons[j + (i*8) + 8*5] ? scheduleByGroups.lessons[j + (i*8) + 8*5].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="6">-->
<!--        <div class="vertical-text"> Wednesday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfGroups; let i = index">-->
<!--        <th>{{'Group' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 2] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 2].name : '∅'}}-->
<!--          <br/>-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 2] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 2].group.group.name : '∅'}} {{'/'}}-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 2] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 2].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{scheduleByGroups.lessons[j + (i*8) + 8*5*2] ? scheduleByGroups.lessons[j + (i*8) + 8*5*2].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="6">-->
<!--        <div class="vertical-text"> Thursday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfGroups; let i = index">-->
<!--        <th>{{'Group' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 3] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 3].name : '∅'}}-->
<!--          <br/>-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 3] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 3].group.group.name : '∅'}} {{'/'}}-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 3] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 3].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{scheduleByGroups.lessons[j + (i*8) + 8*5*3] ? scheduleByGroups.lessons[j + (i*8) + 8*5*3].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="6">-->
<!--        <div class="vertical-text"> Friday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfGroups; let i = index">-->
<!--        <th>{{'Group' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 4] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 4].name : '∅'}}-->
<!--          <br/>-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 4] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 4].group.group.name : '∅'}} {{'/'}}-->
<!--          {{scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 4] ? scheduleByGroups.lessons[j + (i * 8) + 8 * 5 * 4].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{scheduleByGroups.lessons[j + (i*8) + 8*5*4] ? scheduleByGroups.lessons[j + (i*8) + 8*5*4].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->


<!--      </tbody>-->
<!--    </table>-->


<!--    <hr>-->
<!--    <h1 class="subtitle has-text-centered">Timetable By Teachers:</h1>-->
<!--    <table class="table table is-bordered is-striped is-narrow is-hoverable is-fullwidth">-->
<!--      <thead>-->
<!--      <tr>-->
<!--        <th>Days</th>-->
<!--        <th>Teachers</th>-->
<!--        <th class="has-text-centered">1. HOUR <br> 08:30-09:10</th>-->
<!--        <th class="has-text-centered">2. HOUR <br> 09:20-10:00</th>-->
<!--        <th class="has-text-centered">3. HOUR <br> 10:10-10:50</th>-->
<!--        <th class="has-text-centered">4. HOUR <br> 11:00-11:40</th>-->
<!--        <th class="has-text-centered">5. HOUR <br> 11:50-12:30</th>-->
<!--        <th class="has-text-centered">6. HOUR <br> 13:20-14:00</th>-->
<!--        <th class="has-text-centered">7. HOUR <br> 14:10-14:50</th>-->
<!--        <th class="has-text-centered">8. HOUR <br> 15:00-15:40</th>-->

<!--      </tr>-->
<!--      </thead>-->

<!--      <tbody>-->
<!--      <td [rowSpan]="6">-->
<!--        <div class="vertical-text"> Monday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfTeachers; let i = index">-->
<!--        <th>{{'Teacher' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8)] ? scheduleByTeachers.lessons[j + (i * 8)].name : '∅'}} <br/>-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8)] ? scheduleByTeachers.lessons[j + (i * 8)].group.group.name : '∅'}} {{'/'}}-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8)] ? scheduleByTeachers.lessons[j + (i * 8)].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{scheduleByTeachers.lessons[j + (i*8)] ? scheduleByTeachers.lessons[j + (i*8)].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="6">-->
<!--        <div class="vertical-text"> Tuesday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfTeachers; let i = index">-->
<!--        <th>{{'Teacher' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5].name : '∅'}}-->
<!--          <br/>-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5].group.group.name : '∅'}} {{'/'}}-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{scheduleByTeachers.lessons[j + (i*8) + 8*5] ? scheduleByTeachers.lessons[j + (i*8) + 8*5].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="6">-->
<!--        <div class="vertical-text"> Wednesday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfTeachers; let i = index">-->
<!--        <th>{{'Teacher' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 2] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 2].name : '∅'}}-->
<!--          <br/>-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 2] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 2].group.group.name : '∅'}} {{'/'}}-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 2] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 2].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{scheduleByTeachers.lessons[j + (i*8) + 8*5*2] ? scheduleByTeachers.lessons[j + (i*8) + 8*5*2].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="6">-->
<!--        <div class="vertical-text"> Thursday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfTeachers; let i = index">-->
<!--        <th>{{'Teacher' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 3] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 3].name : '∅'}}-->
<!--          <br/>-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 3] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 3].group.group.name : '∅'}} {{'/'}}-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 3] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 3].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{scheduleByTeachers.lessons[j + (i*8) + 8*5*3] ? scheduleByTeachers.lessons[j + (i*8) + 8*5*3].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->

<!--      <td [rowSpan]="6">-->
<!--        <div class="vertical-text"> Friday</div>-->
<!--      </td>-->
<!--      <tr *ngFor="let item of numberOfTeachers; let i = index">-->
<!--        <th>{{'Teacher' + (i + 1)}}</th>-->
<!--        <td *ngFor="let hour of dayHours; let j = index" class="has-text-centered">-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 4] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 4].name : '∅'}}-->
<!--          <br/>-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 4] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 4].group.group.name : '∅'}} {{'/'}}-->
<!--          {{scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 4] ? scheduleByTeachers.lessons[j + (i * 8) + 8 * 5 * 4].teacher.teacher.name : '∅'}}-->
<!--          &lt;!&ndash;      {{scheduleByTeachers.lessons[j + (i*8) + 8*5*4] ? scheduleByTeachers.lessons[j + (i*8) + 8*5*4].room.room.name : '∅'}}&ndash;&gt;-->
<!--        </td>-->

<!--      </tr>-->


<!--      </tbody>-->
<!--    </table>-->

<!--    <hr>-->
  </div>
</div>
